#home .home-background {
    width: 100%;
    height: 100vh;
    background-image: url("../../public/images/home-background.png");
    background-position: right;
    background-attachment: fixed;
    background-size: cover;
}

@media (max-width:500px) {
    #home .home-background {
        background-position: -150vw;
    }
}